html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.login{
    background: #fff8f0;
    height: 100%;
    margin: 0 1%;
    display: grid;
    grid-gap: 5pt;
    grid-template-rows: 1fr 58pt 48pt 48pt 48pt 58pt 1fr;
    grid-template-areas:
    'placeholder'
    'nav_list'
    'username'
    'password'
    'password1'
    'submitbtn'
    'placeholder1'
}
.login div:nth-child(1){
    grid-area: placeholder;
}
.login div:nth-child(2){
    grid-area: placeholder1;
}
.login ul{
    grid-area: nav_list;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: 48pt;
}
.login ul li{
    flex: 1 0 auto;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
}
.activeloginNav {
    border-bottom: solid 2pt #92140c;

}
.login input{
    background-color: #fff8f0;
    font-size: 48pt;

}
.login input:nth-child(3){
    grid-area: username;

}
.login input:nth-child(4){
    grid-area: password;
}
.login input:nth-child(5){
    grid-area: password1;
}
.login button{
    grid-area: submitbtn;
    border: solid 2pt #92140c;
    background-color: #fff8f0;
    color: #92140c;
    font-size: 30pt;
    cursor: pointer;
}
.login button:hover{
    background-color: #92140c;
    color: #fff8f0;
}
