html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.login{
    height: 100%;
    margin: 0 1%;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 40pt 30pt 30pt 30pt 40pt 1fr;
    grid-template-areas:
    'placeholder'
    'nav_list'
    'username'
    'password'
    'password1'
    'submitbtn'
    'placeholder1'
}
.login div:nth-child(1){
    grid-area: placeholder;
}
.login div:nth-child(2){
    grid-area: placeholder1;
}
.login ul{
    grid-area: nav_list;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: 30pt;
}
.login ul li{
    flex: 1 0 auto;
    list-style-type: none;
    text-align: center;
    border-bottom: solid 2pt blue;
}
.login input:nth-child(1){
    grid-area: username;
    font-size: 30pt;
}
.login input:nth-child(2){
    grid-area: password;
    font-size: 30pt;
}
.login input:nth-child(3){
    grid-area: password1;
    font-size: 30pt;
}
.login button{
    grid-area: submitbtn;
    border: solid 2pt blue;
    background-color: white;
    color: blue;
    font-size: 30pt;
    cursor: pointer;
}
.login button:hover{
    background-color: blue;
    color: white;
}
